name: test
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: 
          python-version: ${{ matrix.python-version }}
      - run: pip install -U build pytest
      - run: python -m build
      - run: pip install dist/*.whl
      - run: pytest -q